{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javasript %}

</head>
<body>
<p>
    <a href="{% url 'index' %}">Learning Log </a> -
    <a href="{% url 'topics' %}">Tematy</a> -
    {% if user.is_authenticated %}
        Witaj, {{ user.username }}.
        <a href="{% url 'logout' %}">Wyloguj</a>
    {% else %}
        <a href="{% url 'login' %}">Zaloguj</a> -
        <a href="{% url 'register' %}">Rejestruj</a>
    {% endif %}
</p>
{% block content %} {% endblock content %}
</body>
</html>